.video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 54.15%;
}
.video iframe,  
.video object,  
.video embed {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

p > ymaps {
	width: 100% !important;
}

.entry img{
	width: auto !important;
	height: auto !important;
	}

.table_container {
	width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.wrap {
	width: 100%;
	}

.modal_win{
	width: 280px;
	padding: 10px 10px 4px 10px;
	}

.modal_close{
	right: 0px;
	top: 0px;
	}

.modal_win_t{
	padding: 0 0 12px 0;
	font-size: 22px;
	line-height: 26px;
	}

.cont_form_inp{
	padding: 0 0 10px 0;
	}

.cont_form_inp input{
	width: 260px;
	}

.cont_form_sub{
	padding: 5px 0 0 0;
	}

.cont_form_sub input{
	width: 280px;
	}

.col_l{
	float: none;
	width: auto;
	}

.col_r{
	float: none;
	width: auto;
	padding: 0;
	}

.col_c{
	width: auto;
	margin: 0;
	}

.col3{
	float: none;
	width: auto;
	margin: 0;
	}

.col_pad{
	padding: 0 0 10px 0;
	}

.col_img_t{
	padding: 0 0 10px 0;
	}

ul.tabs{
	height: auto;
	}

ul.tabs li{
	float: none;
	width: auto;
	margin: 0 0 5px 0 !important;
	}

ul.tabs li a{
	float: none;
	width: auto;
	}

.tabs_pane{
	padding: 10px 0;
	}

.bg_top {
	background: none;
	}

.bg_bot {
	background: none;
	}

.bg_bot2 {
	padding: 0;
	background: none;
	}
.headerscrollitem{
	height: 245px;


}
.header_c{
	height: auto;
	}

.logo{
	float: none;
	width: 240px;
	height: 104px;
	padding: 10px 0;
	margin: 0 auto;
	}

.logo a{
	width: 240px;
	height: 64px;
	padding: 0;
	background: url('images/logo.png') no-repeat 0px -20px;
	position: relative;
	}

.logo a span{
	width: 188px;
	height: 26px;
	padding: 8px 0 0 5px;
	background: url('images/logo.png') no-repeat -241px 0px;
	position: absolute;
	top: 70px;
	left: 0px;
	}

.header_r{
	float: none;
	width: auto;
	padding: 0 0 10px 0;
	text-align: center;
	}

.M_soc{
	display: none;
	}

.top_tel{
	width: 221px;
	height: 31px;
	background: url('images/top_tel.png') no-repeat;
	padding: 0;
	margin: 0 auto;
	float: none;
	color: rgba(0, 0, 0, 0);
	}

.top_zz{
	float: none;
	width: auto;
	padding: 7px 0 0 0;
	margin-left: auto;
	margin-right: auto;
	}

.top_zz a{
	margin: 0 auto;
	}

.search{
	display: none;
	}

.show_nav{
	display: block;
	}

.nav_top{
	display: none;
	height: auto;
	padding: 0;
	}

.nav_top > ul > li{
	float: none;
	height: auto;
	padding: 0;
	background: none;
	border-top: 1px solid #4a5e6e;
	}

.nav_top > ul > li > a{
	float: none;
	width: auto;
	height: auto;
	padding: 8px 10px;
	line-height: 21px;
	}

.slider{
	height: auto;
	}

.cycle-slideshow{
	width: 100%;
	height: 110px;
	}

.slide{
	width: 100%;
	height: 110px;
	overflow: hidden;
	}

.slide img{
	width: 100%;
	height: auto;
	}

#slider_prev{
	top: 25px;
	left: 10px;
	}

#slider_next{
	top: 25px;
	right: 10px;
	}

.slider_nav_text{
	padding: 10px;
	}

.slider_nav_text a{
	float: none;
	display: block;
	width: auto;
	padding: 8px 10px 7px 10px;
	margin: 0;
	}

.slider_nav_text a span{
	margin: 0 10px 0 0;
	}

.top_cats_list{
	margin: 0 9px 10px 9px;
	}

.sb_nav_home{
	float: none;
	width: auto;
	padding: 0 0 10px 0;
	}

.sb_rasch a{
	margin: 0 auto;
	}

.home_opisan{
	margin: 0 0 10px 0;
	}

.home_vid{
	margin: 0 0 10px 0;
	}

.bannerV{
	display: none;
	}

.preimush_list{
	width: 50%;
	height: 220px;
	margin: 0;
	}

.brends img{
	margin: 0 10px 10px 10px;
	}

.primer{
	width: 150px;
	padding: 0 5px 5px 5px;
	}

.primer img{
	width: 150px;
	}

.nash_ob_l{
	float: none;
	width: auto;
	}

.nash_ob_r{
	float: none;
	width: auto;
	}


.nash_ob_te{
	float: none;
	width: auto;
	padding: 0;
	margin: 0 0 0 110px;
	}

.post_list {
	margin: 0 0 15px 0;
	padding: 0 10px 15px 10px;
	}

.post_list_img{
	width: 120px;
	margin: 0 10px 5px 0;
	}

.post_list_r{
	float: none;
	width: auto;
	padding: 0;
	}

.cat_list {
	margin: 0 0 10px 5px;
	}

.prod_list {
	margin: 0 0 10px 5px;
	}

.prod_list2 {
	margin: 0 0 10px 5px;
	}


.prod_images{
	float: none;
	width: auto;
	padding: 0 10px 10px 10px;
	}

.prod_r{
	float: none;
	width: auto;
	padding: 0 10px 10px 10px;
	}

.modal_zk{
	display: none;
	}

footer {
	background: #32485b;
	text-align: center;
	}

.nav_bot{
	display: none;
	}

.f_cont{
	float: none;
	width: auto;
	padding: 0 0 10px 0;
	}

.f_telmail{
	float: none;
	width: auto;
	padding: 0;
	}

.stat{
	float: none;
	padding: 0;
	}

.copy{
	float: none;
	padding: 0;
	line-height: 20px;
	}
