/*
Theme Name: gekkon
Author: RaftKorn
Author URI: http://artraft.net
*/


/* NULL */

HTML, BODY, DIV, SPAN, APPLET, OBJECT, IFRAME, H1, H2, H3, H4, H5, H6, P, BLOCKQUOTE, PRE, A, ABBR, ACRONYM, ADDRESS, BIG, CITE, CODE, DEL, DFN, EM, FONT, IMG, INS, KBD, Q, S, SAMP, SMALL, STRIKE, STRONG, TT, VAR, B, U, I, CENTER, DL, DT, DD, OL, UL, LI, FIELDSET, FORM, LABEL, LEGEND {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
SUP, SUB {line-height: 1px;}
BODY {line-height: 1;}
UL {list-style: none;}
:focus {outline: 0;}
INS {text-decoration: none;}
DEL {text-decoration: line-through;}
input::-moz-focus-inner {border: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary, .block {display: block;}
audio, canvas, video {display: inline-block;}
audio:not([controls]) {display: none;height: 0;}
[hidden] {display: none;}
.none, .hidden {display: none;}

.clear, .clr {clear: both;}
.clearfix:before, .clearfix:after, .clf:before, .clf:after {
    content: " ";
    display: table;
}
.clearfix:after, .clf:after {
    clear: both;
}
.clearfix, .clf {
    *zoom: 1;
}


.alignright, .right {
	float: right;
	}

.alignleft, .left {
	float: left;
	}

.center {
	text-align: center;
	}

.centered, .aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

img.alignright, img.right {
	margin: 0 0 4px 10px;
	display: inline;
	}

img.alignleft, img.left {
	margin: 0 10px 4px 0;
	display: inline;
	}

a img {
	border: none;
	}

img {
	max-width: 100%;
	}

/* END NULL */



/* BASE */

body {
	color: #595959;
	font-size: 12px;
	line-height: 15px;
	font-family: 'PT Sans', sans-serif;
	background: #d6cccd url('images/bg.jpg') repeat-x 0px 15px;
	text-align: center;
	}

input, textarea {
	font: 13px/16px Tahoma, Arial;
	}

a {
	color: #31485b;
	text-decoration: underline;
	}

a:hover {
	color: #31485b;
	text-decoration: none;
	}

p{
	margin: 0 0 12px 0;
	}

h1, h2, h3, h4, h5, h6, .title {
	color: #595959;
	margin: 0 0 15px 0;
	font-weight: normal;
	text-transform: uppercase;
	}
h1, .title{
	padding: 5px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 19px;
	background: #31485b;
	text-align: center;
	}
h2{
	font-size: 16px;
	line-height: 19px;
	}
h3{
	font-size: 15px;
	line-height: 18px;
	}
h4{
	font-size: 14px;
	line-height: 17px;
	}
h5{
	font-size: 13px;
	line-height: 16px;
	}
h6{
	font-size: 12px;
	line-height: 15px;
	}
h1 a, h2 a, .title a {
	color: #000000;
	text-decoration: none;
	}
h1 a:hover, h2 a:hover, .title a:hover {
	color: #000000;
	text-decoration: underline;
	}


.title2{
	background: #D45848;
	}


.black{
	color: #000;
	}
.white{
	color: #fff;
	}
.grey{
	color: #808080;
	}
.green{
	color: #34c924;
	}
.red{
	color: #ff0000;
	}
.orange{
	color: #ffa500;
	}
.yellow{
	color: #ffff00;
	}
.blue{
	color: #0000ff;
	}
.purple{
	color: #8b00ff;
	}
.pink{
	color: #ffc0cb;
	}

/* END BASE */



/* ENTRY */

.entry table {
	margin: 0 0 12px 0;
	}

table {
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	}

table tr th{
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	padding: 5px 10px;
	color: #000;
	}

table tr th.no_b{
	border: 0;
	}


table tr td{
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	padding: 5px 10px;
	color: #000;
	}

.table_null {
	border: 0;
	}

.table_null tr th{
	border: 0;
	padding: 0;
	}


.table_null tr td{
	border: 0;
	padding: 0;
	}


.entry form {
	margin: 0 0 12px 0;
	}

.entry ul {
	padding: 0 0 0 20px;
	margin: 0 0 12px 0;
	list-style: none;
	}

.entry ol {
	padding: 0 0 0 25px;
	margin: 0 0 12px 0;
	list-style: none;
	}

.entry ul ul, .entry ol ol, .entry ol ul, .entry ol ul {
	margin: 0;
	padding-top: 5px;
	}

.entry ul ul, .entry ol ul, .entry ol ol, .entry ul ol{
	margin: 0;
	}

.entry ol li, .entry ul ol li {
	margin: 7px 0 8px 10px;
	list-style: decimal outside;
	}

.entry ul li, .entry ol ul li {
	margin: 7px 0 8px 10px;
	list-style-type: disc;
	}

code {
	font: 1.1em 'Courier New', Courier, Fixed;
	}

acronym, abbr, span.caps {
	font-size: 0.9em;
	letter-spacing: .07em;
	cursor: help;
	}

acronym, abbr {
	border-bottom: 1px dashed #999;
	}

blockquote {
	margin: 15px 30px 12px 10px;
	padding-left: 20px;
	border-left: 5px solid #ddd;
	}

blockquote cite {
	margin: 5px 0 0;
	display: block;
	}


.modal_win{
	display: none;
	width: 286px;
	padding: 22px 16px 4px 16px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999;
	background: #7e9a33 url('images/modal_win.jpg') repeat-x;
	-webkit-box-shadow: 0px 1px 43px rgba(26, 23, 27, 0.75);
	-moz-box-shadow: 0px 1px 43px rgba(26, 23, 27, 0.75);
	box-shadow: 0px 1px 43px rgba(26, 23, 27, 0.75);
	overflow-y: auto;
	color: #fff;

	}

.modal_close{
	display: block;
	width: 27px;
	height: 27px;
	background: url('images/modal_close.jpg') no-repeat;
	position: absolute;
	right: 6px;
	top: 6px;
	cursor: pointer;
}

.modal_mask {
	position:absolute;
	left:0;
	top:0;
	z-index:9000;
	background: #000;
	display:none;
}

.modal_win_t{
	padding: 0 0 18px 0;
	color: #fff;
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0px 1px 1px rgba(26, 23, 27, 0.75);
	}

.cont_form_inp{
	padding: 0 0 15px 0;
	}

.cont_form_inp input{
	width: 266px;
	height: 20px;
	padding: 11px 10px;
	background: #fff;
	border: 0;
	-webkit-box-shadow: inset 0px 3px 5px rgba(26, 23, 27, 0.75);
	-moz-box-shadow: inset 0px 3px 5px rgba(26, 23, 27, 0.75);
	box-shadow: inset 0px 3px 5px rgba(26, 23, 27, 0.75);
	color: #111f2a;
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
	}

.cont_form_sub{
	padding: 15px 0 0 0;
	}

.cont_form_sub input{
	width: 286px;
	height: 42px;
	background: #f1c40f;
	border: 0;
	-webkit-box-shadow: inset 0px 3px 1px rgba(26, 23, 27, 0.75);
	-moz-box-shadow: inset 0px 3px 1px rgba(26, 23, 27, 0.75);
	box-shadow: inset 0px 2px 2px rgba(26, 23, 27, 0.75);
	color: #111f2a;
	font-size: 24px;
	line-height: 42px;
	text-transform: uppercase;
	cursor: pointer;
	}

.cont_form_sub input:hover{
	background: #e6bc13;
	}


.col_l{
	float: left;
	width: 325px;
	}

.col_r{
	float: left;
	width: 325px;
	padding: 0 0 0 26px;
	}

.col_c{
	width: 325px;
	margin: 0 auto;
	}

.col3{
	float: left;
	width: 225px;
	}


.col_pad{
	padding: 0 19px 20px 19px;
	}

.col_img_t{
	padding: 0 0 20px 0;
	}



.title_color{
	padding: 11px 5px;
	margin: 0 0 15px 0;
	background: #3f5669;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	}

.title_color2{
	background: #ff5440 !important;
	}
.title_color3{
	background: #9469ce !important;
	}
.title_color4{
	background: #009acc !important;
	}
.title_color5{
	background: #db4e7b !important;
	}

.title_color a, .title_color a:hover{
	color: #fff;
	}


ul.tabs{
	display: block;
	height: 37px;
	padding: 0 !important;
	margin: 0 !important;
	}

ul.tabs li{
	float: left;
	display: block;
	width: 225px;
	height: 37px;
	padding: 0 !important;
	margin: 0 !important;
	background: #3f5669;
	list-style: none !important;
	}

ul.tabs li a{
	float: left;
	display: block;
	width: 225px;
	height: 37px;
	color: #fff;
	text-transform: uppercase;
	line-height: 37px;
	text-align: center;
	text-decoration: underline;
	}

ul.tabs li a:hover, ul.tabs li a.current{
	color: #fff;
	text-decoration: none;
	}

.tabs_pane{
	padding: 12px 0;
	}


.but_blue{
	display: block;
	width: 150px;
	height: 39px;
	background: url('images/but_blue.png') no-repeat;
	color: #000000;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
	font-size: 11px;
	line-height: 39px;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	}

.but_blue:hover{
	color: #000000;
	text-decoration: underline;
	}


/* END ENTRY */



/* BODY */

.bg_top {
	min-width: 986px;
	background: url('images/bg_top.jpg') repeat-x center top;
	}

.bg_bot {
	min-width: 986px;
	background: url('images/bg_bot.png') repeat-x center bottom;
	}

.bg_bot2 {
	min-width: 986px;
	padding: 15px 0;
	background: url('images/bg_top.jpg') repeat-x center bottom;
	}


.wrap {
	text-align: left;
	margin: 0 auto;
	width: 986px;
	background: #fdfcfc;
	}

header {
	}

.header_c{
	height: 157px;
	}

.logo{
	float: left;
	width: 434px;
	height: 84px;
	padding: 50px 0 0 22px;
	}

.logo a{
	display: block;
	width: 188px;
	height: 76px;
	padding: 8px 0 0 246px;
	background: url('images/logo.png') no-repeat;
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: none;
	}


.header_r{
	float: right;
	width: 320px;
	padding: 50px 23px 0 0;
	}

.top_tel{
	height: 52px;
	background: url('images/top_tel.png') no-repeat right top;
	}

.top_zz{
	float: left;
	width: 145px;
	}

.top_zz .modal{
	display: block;
	width: 122px;
	height: 27px;
	padding: 0 0 0 23px;
	background: #e05543 url('images/top_zz.png') no-repeat 11px 3px;
	color: #f3f3f3;
	font-size: 12px;
	line-height: 27px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	}

.top_zz .modal:hover{
	background: #d15141 url('images/top_zz.png') no-repeat 11px 3px;
	color: #f3f3f3;
	}


.search{
	float: right;
	display: block;
	width: 160px;
	height: 27px;
	background: #8f8f8f;
	-webkit-box-shadow: inset 0px 3px 8px rgba(26, 23, 27, 0.17);
	-moz-box-shadow: inset 0px 3px 8px rgba(26, 23, 27, 0.17);
	box-shadow: inset 0px 3px 8px rgba(26, 23, 27, 0.17);
	}

.search_inp {
	float: left;
	width: 125px;
	}

.search_inp input {
	width: 95px;
	height: 17px;
	padding: 5px 15px;
	background: none;
	border: 0;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	}

.search_sub {
	float: left;
	width: 35px;
	}

.search_sub input {
	width: 35px;
	height: 27px;
	background: url('images/se.png') no-repeat center center;
	border: 0;
	cursor: pointer;
	}


.nav_top{
	height: 37px;
	padding: 0 0 0 22px;
	background: #31485b;
	}

.nav_top > ul > li{
	float: left;
	display: block;
	height: 37px;
	padding: 0 0 0 2px;
	background: url('images/nav_top.png') no-repeat 0px bottom;
	position: relative;
	z-index: 299;
	}

.nav_top > ul > li > a{
	float: left;
	display: block;
	width: 142px;
	height: 37px;
	padding: 0 0 0 44px;
	color: #fff;
	font-size: 14px;
	line-height: 37px;
	text-decoration: none;
	text-transform: uppercase;
	}

.nav_top > ul > li:hover > a, .nav_top > ul > li > a:hover, .nav_top > ul > li.current-menu-item > a, .nav_top > ul > li.current-menu-parent > a, .nav_top > ul > li.current-menu-ancestor > a, .nav_top > ul > li.current-post-ancestor > a{
	background: #86a72e;
	color: #fff;
	}

.nav_top > ul > li.menu-item-has-children > a{
	background: url('images/nav_top_a.png') no-repeat 16px 13px;
	}

.nav_top > ul > li.menu-item-has-children:hover > a, .nav_top > ul > li.menu-item-has-children > a:hover, .nav_top > ul > li.menu-item-has-children.current-menu-item > a, .nav_top > ul > li.menu-item-has-children.current-menu-parent > a, .nav_top > ul > li.menu-item-has-children.current-menu-ancestor > a, .nav_top > ul > li.menu-item-has-children.current-post-ancestor > a{
	background: #86a72e url('images/nav_top_a.png') no-repeat 16px 13px;
	color: #fff;
	}


.nav_top > ul > li > ul{
	display: none;
	width: 186px;
	background: #86a72e;
	position: absolute;
	top: 37px;
	left: 2px;
	z-index: 300;
	}

.nav_top > ul > li > ul > li{
	display: block;
	padding: 2px 0 0 0;
	background: #86a72e url('images/nav_top_ul.png') repeat-x;
	}

.nav_top > ul > li > ul > li > a{
	display: block;
	padding: 9px 10px 9px 44px;
	background: #86a72e url('images/nav_top_a2.png') no-repeat 11px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	text-decoration: none;
	}

.nav_top > ul > li > ul > li > a:hover, .nav_top > ul > li > ul > li.current-menu-item > a, .nav_top > ul > li > ul > li.current-menu-parent > a, .nav_top 
> ul > li > ul > li.current-menu-ancestor > a, .nav_top > ul > li > ul > li.current-post-ancestor > a{
	background: #86a72e url('images/nav_top_a3.png') no-repeat 11px 10px;
	color: #fff;
	}


.slider{
	height: 408px;
	position: relative;
	}

.cycle-slideshow{
	width: 986px;
	height: 340px;
	}

.slide{
	width: 986px;
	height: 340px;
	}

.slide img{
	width: 986px;
	height: 340px;
	}

#slider_prev{
	display: block;
	width: 50px;
	height: 50px;
	background: url('images/slider_pn.png') no-repeat;
	position: absolute;
	top: 154px;
	left: 43px;
	z-index: 300;
	}

#slider_next{
	display: block;
	width: 50px;
	height: 50px;
	background: url('images/slider_pn.png') no-repeat -50px 0px;
	position: absolute;
	top: 154px;
	right: 43px;
	z-index: 300;
	}

.slider_nav_icon{
	position: absolute;
	top: 310px;
	left: 450px;
	z-index: 300;
	}

.slider_nav_icon span{
	float: left;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 9px 0 0;
	background: #e9e5e5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	}

.slider_nav_icon span:hover, .slider_nav_icon .cycle-pager-active{
	background: #f6b63a;
	}


.slider_nav_text{
	padding: 14px 0 0 3px;
	}

.slider_nav_text div{
	float: left;
	width: 199px;
	height: 22px;
	padding: 8px 10px 7px 10px;
	margin: 0 0 0 20px;
	background: #fdfcfc;
	border: 1px solid #bdbdbd;
	-webkit-box-shadow: 0px 3px 2px rgba(26, 23, 27, 0.66);
	-moz-box-shadow: 0px 3px 2px rgba(26, 23, 27, 0.66);
	box-shadow: 0px 3px 2px rgba(26, 23, 27, 0.66);
	cursor: pointer;
	color: #514b4b;
	line-height: 22px;
	text-transform: uppercase;
	}

.slider_nav_text div:hover, .slider_nav_text div.cycle-pager-active{
	background: #9cbf3e;
	border: 1px solid #9cbf3e;
	color: #fff;
	}

.slider_nav_text div span{
	display:-moz-inline-stack;
	display:inline-block; 
	_overflow:hidden;
	*zoom:1;
	*display:inline;
	width: 22px;
	height: 22px;
	margin: 0 31px 0 0;
	background: #5ab125;
	color: #fff;
	font-size: 16px;
	text-align: center;
	}

.slider_nav_text div:hover span, .slider_nav_text div.cycle-pager-active span{
	background: #fdfcfc;
	color: #31485b;
	}


.top_cats{
	padding: 11px 0 25px 4px;
	}

.top_cats_t{
	height: 62px;
	background: url('images/top_cats_t.jpg') no-repeat;
	color: #fff;
	font-size: 14px;
	line-height: 56px;
	text-align: center;
	text-transform: uppercase;
	}

.top_cats_list{
	float: left;
	display: block;
	width: 141px;
	height: 181px;
	margin: 0 0 0 19px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	text-align: center;
	}

.top_cats_list:hover{
	color: #fff;
	}

.top_cats_list span.top_cats_i{
	display: block;
	width: 141px;
	height: 146px;
	}

.top_cats_list:hover span.top_cats_i{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-moz-opacity: 0.5; 
	-khtml-opacity: 0.5; 
	opacity: 0.5;
	}

.top_cats1 span.top_cats_i{
	background: url('images/top_cats1.png') no-repeat;
	}
.top_cats2 span.top_cats_i{
	background: url('images/top_cats2.png') no-repeat;
	}
.top_cats3 span.top_cats_i{
	background: url('images/top_cats3.png') no-repeat;
	}
.top_cats4 span.top_cats_i{
	background: url('images/top_cats4.png') no-repeat;
	}
.top_cats5 span.top_cats_i{
	background: url('images/top_cats5.png') no-repeat;
	}
.top_cats6 span.top_cats_i{
	background: url('images/top_cats6.png') no-repeat;
	}
.top_cats7 span.top_cats_i{
	background: url('images/top_cats7.png') no-repeat;
	}


.top_cats_list .top_cats_t{
	display: block;
	width: 141px;
	height: 35px;
	line-height: 35px;
	font-size: 11px;
	}

.top_cats_list .top_cats_t:hover{
	color: #fff;
	-webkit-box-shadow: 0px 3px 2px rgba(26, 23, 27, 0.66);
	-moz-box-shadow: 0px 3px 2px rgba(26, 23, 27, 0.66);
	box-shadow: 0px 3px 2px rgba(26, 23, 27, 0.66);
	}

.top_cats1 .top_cats_t{
	background: #bf4f79;
	}
.top_cats2 .top_cats_t{
	background: #e05543;
	}
.top_cats3 .top_cats_t{
	background: #2799c9;
	}
.top_cats4 .top_cats_t{
	background: #ef8742;
	}
.top_cats5 .top_cats_t{
	background: #1bb869;
	}
.top_cats6 .top_cats_t{
	background: #8869ca;
	}
.top_cats7 .top_cats_t{
	background: #e05543;
	}



#content {
	}

.sb_nav_home{
	float: left;
	width: 220px;
	padding: 0 0 25px 23px;
	}

.home_opisan{
	float: left;
	width: 220px;
	height: 239px;
	margin: 0 0 25px 20px;
	background: #f3f3f3;
	border-bottom: 37px solid #d4d3d3;
	}

.home_opisan_t{
	height: 37px;
	background: #d4d3d3;
	color: #31485b;
	font-size: 12px;
	line-height: 37px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	}

.home_opisan_e{
	padding: 5px 10px 0 10px;
	color: #514b4b;
	line-height: 18px;
	}


.home_vid{
	float: left;
	width: 460px;
	height: 276px;
	padding: 0 0 25px 20px;
	}


.primeri{
	padding: 0 0 15px 0;
	}

.primeri_t{
	height: 29px;
	margin: 0 0 18px 0;
	background: #31485b;
	color: #fff;
	font-size: 14px;
	line-height: 29px;
	text-transform: uppercase;
	text-align: center;
	}

.primer{
	float: left;
	width: 158px;
	padding: 0 14px 0 23px;
	}

.primer img{
	vertical-align: bottom;
	}



.preimush{
	padding: 0 0 13px 0;
	}

.preimush_t{
	height: 47px;
	padding: 8px 0 0 0;
	background: url('images/preimush_t.jpg') no-repeat;
	color: #fff;
	font-size: 14px;
	line-height: 47px;
	text-transform: uppercase;
	text-align: center;
	}

.preimush_list{
	float: left;
	width: 225px;
	height: 200px;
	padding: 16px 0 0 0;
	margin: 0 0 0 15px;
	text-align: center;
	color: #595959;
	font-size: 13px;
	line-height: 20px;
	}

.preimush_list:hover{
	background: #31485b;
	color: #fff;
	}

.preimush1{
	margin: 0 0 0 23px;
	}

.preimush_list_icon{
	height: 72px;
	padding: 0 0 0 87px;
	}

.preimush_list_icon span{
	display: block;
	width: 51px;
	height: 51px;
	-webkit-box-shadow: 0px 3px 2px rgba(26, 23, 27, 0.66);
	-moz-box-shadow: 0px 3px 2px rgba(26, 23, 27, 0.66);
	box-shadow: 0px 3px 2px rgba(26, 23, 27, 0.66);
	}

.preimush1 .preimush_list_icon span{
	background: url('images/preimush1.jpg') no-repeat;
	}
.preimush2 .preimush_list_icon span{
	background: url('images/preimush2.jpg') no-repeat;
	}
.preimush3 .preimush_list_icon span{
	background: url('images/preimush3.jpg') no-repeat;
	}
.preimush4 .preimush_list_icon span{
	background: url('images/preimush4.jpg') no-repeat;
	}

.preimush_list_t{
	height: 35px;
	color: #31485b;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	}

.preimush_list:hover .preimush_list_t{
	color: #fff;
	}

.preimush_list_e{
	padding: 0 8px;
	}


.home_news{
	float: left;
	width: 320px;
	padding: 0 0 20px 23px;
	}

.home_news_list{
	padding: 0 0 10px 0;
	}

.home_news_list_t{
	float: left;
	width: 206px;
	height: 29px;
	padding: 0 12px;
	overflow: hidden;
	background: #31485b;
	font-size: 14px;
	line-height: 29px;
	}

.home_news_list_t2{
	background: #D45848;
	}

.home_news_list_t a{
	color: #fff;
	text-decoration: none;
	}

.home_news_list_t a:hover{
	color: #fff;
	text-decoration: underline;
	}

.home_news_list_d{
	float: left;
	width: 90px;
	height: 29px;
	background: #1a9d5b;
	color: #fff;
	line-height: 29px;
	text-align: center;
	}

.home_news_list_e{
	padding: 8px 12px 0 12px;
	color: #595959;
	}

.home_news_all{
	padding: 2px 0 0 0;
	}

.home_news_all a{
	display: block;
	width: 92px;
	height: 29px;
	background: #738f2a;
	color: #fff;
	font-size: 12px;
	line-height: 29px;
	text-decoration: none;
	text-align: center;
	}

.home_news_all a:hover{
	background: #7c992f;
	color: #fff;
	}

.home_text{
	float: left;
	width: 584px;
	padding: 0 0 0 36px;
	}


.brends{
	padding: 0 0 45px 0;
	text-align: center;
	}

.brends img{
	display: inline;
	vertical-align: bottom;
	margin: 0 20px;
	}



#posts {
	float: left;
	width: 700px;
	padding: 0 0 0 20px;
	}

.post {
	padding: 0 0 10px 0;
	margin: 0 0 20px 0;
	background: #f3f3f3;
	}

.entry_pad{
	padding: 0 12px;
	}


.post_list {
	padding: 0 12px 20px 12px;
	}

.post_list_t {
	padding: 0 0 3px 0;
	font-weight: bold;
	}




.p_nav {
	padding: 10px 12px;
	}

.p_nav a, .p_nav span{
	margin: 0 5px 0 0;
	}


#sidebar{
	float: left;
	width: 220px;
	padding: 0 0 3px 23px;
	}

.sb_nav{
	padding: 0 0 17px 0;
	}

.sb_nav ul li{
	display: block;
	padding: 0 0 2px 0;
	background: url('images/sb_nav.jpg') repeat-x left bottom;
	}

.sb_nav ul li a{
	display: block;
	padding: 10px 10px 10px 43px;
	background: #3f5669 url('images/sb_nav_a.png') no-repeat 17px 10px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	}

.sb_nav ul li a:hover, .sb_nav ul li.current-menu-item a, .sb_nav ul li.current-menu-parent a, .sb_nav ul li.current-menu-ancestor a, .sb_nav ul 
li.current-post-ancestor a{
	background: #8aaa36 url('images/sb_nav_a2.png') no-repeat 17px 10px;
	color: #fff;
	}


.sb_rasch a{
	display: block;
	width: 177px;
	height: 37px;
	padding: 0 0 0 43px;
	background: #e15b4a url('images/sb_rasch.png') no-repeat 10px center;
	color: #fff;
	line-height: 37px;
	text-transform: uppercase;
	text-decoration: none;
	}

.sb_rasch a:hover{
	background: #d45848 url('images/sb_rasch.png') no-repeat 10px center;
	}


.widget{
	padding: 0 0 17px 0;
	}

.widget_title{
	padding: 0 0 5px 0;
	font-weight: bold;
	}

.sb_news{
	padding: 0 0 12px 0;
	}

.sb_news_t{
	padding: 5px 12px;
	background: #31485b;
	font-size: 15px;
	line-height: 19px;
	}

.sb_news_t a{
	color: #fff;
	text-decoration: none;
	}

.sb_news_t a:hover{
	color: #fff;
	text-decoration: underline;
	}

.sb_news_d{
	float: left;
	width: 92px;
	height: 29px;
	background: #1a9d5b;
	color: #fff;
	line-height: 29px;
	text-align: center;
	}

.sb_news_m{
	float: right;
	width: 92px;
	}

.sb_news_m a{
	float: right;
	display: block;
	width: 92px;
	height: 29px;
	background: #1a9d5b;
	color: #fff;
	line-height: 29px;
	text-align: center;
	text-decoration: none;
	}

.sb_news_m a:hover{
	background: #21ac66;
	color: #fff;
	}

.sb_news_e{
	padding: 5px 0 0 0;
	}




footer {
	height: 123px;
	padding: 25px 0 0 79px;
	background: #32485b url('images/footer.jpg') no-repeat;
	}

.nav_bot{
	height: 30px;
	}

.nav_bot ul li{
	display: inline;
	padding: 0 50px 0 0;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	}

.nav_bot ul li a{
	color: #ffffff;
	text-decoration: none;
	}

.nav_bot ul li a:hover, .nav_bot ul li.current-menu-item a, .nav_bot ul li.current-menu-parent a, .nav_bot ul li.current-menu-ancestor a, .nav_bot ul 
li.current-post-ancestor a{
	color: #9cbf3e;
	}

.f_cont{
	float: left;
	width: 354px;
	padding: 12px 0 0 0;
	color: #fff;
	line-height: 21px;
	text-transform: uppercase;
	}

.f_cont a, .f_cont a:hover{
	color: #fff;
	}

.f_telmail{
	float: left;
	width: 202px;
	padding: 12px 0 0 0;
	color: #fff;
	}

.f_tel{
	padding: 0 0 16px 0;
	font-size: 24px;
	line-height: 26px;
	font-weight: bold;
	}

.f_mail{
	font-size: 14px;
	text-transform: uppercase;
	}

.stat{
	padding: 0 0 22px 0;
	}

.stat img{
	margin: 0 15px 0 0;
	vertical-align: bottom;
	}

.copy{
	color: #fff;
	text-transform: uppercase;
	}


.modal_zk{
	display: block;
	width: 30px;
	height: 145px;
	background: url('images/zak_ras.jpg') no-repeat;
	position: fixed;
	top: 200px;
	right: 0px;
	}



/* END BODY */



/* COMMENTS */

.comments_t{
	padding: 0 0 10px 0;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
}

.comments_list li {
	padding: 15px;
	margin: 0 0 15px 0;
	border: 1px solid #ddd;
	background: #f8f8f8;
}

.comments_list li li {
	margin: 15px 0 0 0;
}

.comments_list li.thread-even {
	background: #fff; 
} 

.comments_list .even {
	background: #fff; 
}

.comments_list .alt {
	background: #f8f8f8; 
}

.comment_ava{
	float: left;
	padding: 0 10px 0 0;
	}

.comment_ad{
	padding: 0 0 10px 0;
	}

.comment_a{
	font-weight: bold;
	}

.comment_d{
	font-style: italic;
	}

.comment_repl{
	text-align: right;
	}

#respond{
	padding: 15px;
	border: 1px solid #ddd;
	background: #eee;
	margin: 0 0 15px 0;
}

.comments_list #respond{
	margin: 0 15px 15px 15px;
}

.respond_t{
	padding: 0 0 10px 0;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
}

.respond_inp{
	padding: 0 0 10px 0;
}


/* END COMMENTS */



/* WP OTHER */

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}


.failure{
	color: #ff0000;
	}

.success{
	color: #008000;
	}

.cf_hidden{
	display: none;
	}

.cform .cf_error, .wpcf7-not-valid { 
	border: 1px solid #ad2929 !important; 
	color: #ad2929; 
	}

div.mailerr {
	display: block;
	}

.mailerr, .cform .cf_errortxt {
	color: #ad2929; 
	}


#wp-calendar #prev a, #wp-calendar #next a {
	font-size: 9pt;
	}

#wp-calendar a {
	text-decoration: none;
	}

#wp-calendar caption {
	font: bold 1.3em 'Lucida Grande', Verdana, Arial, Sans-Serif;
	text-align: center;
	}

#wp-calendar th {
	font-style: normal;
	text-transform: capitalize;
	}

#wp-calendar {
	empty-cells: show;
	margin: 10px auto 0;
	width: 155px;
	}

#wp-calendar #next a {
	padding-right: 10px;
	text-align: right;
	}

#wp-calendar #prev a {
	padding-left: 10px;
	text-align: left;
	}

#wp-calendar a {
	display: block;
	}

#wp-calendar caption {
	text-align: center;
	width: 100%;
	}

#wp-calendar td {
	padding: 3px 0;
	text-align: center;
	}

#wp-calendar td.pad:hover { /* Doesn't work in IE */
	background-color: #fff; 
	}

/* END WP OTHER */




/*
----------------------------------------------------------------------------
*/


.tablePol {
	width: 100% !important;
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
	border-collapse: collapse !important;
	text-align: center !important;
}

.tablePol th, .tablePol tr, .tablePol td {
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
}

.tablePol td {
	vertical-align: top !important;
}

.titlePol {
	margin: 15px 0 0 0 !important;
}

.titlePol2 {
	margin-bottom: 15px !important;
}

.linkPol {
	display: table;
	position: relative;
	background-color: #009ACC;
	height: 40px;
	width: 150px;
	left: 0;
	right: 0;
	margin: -3px auto 0 auto;
}

.linkPol a {
	display: table-cell;
	
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
}

.linkPol:hover {
	background-color: #008AB7;
}