.wrap {
	width: 760px;
	padding: 0;
	}
header{
	max-width: 760px;
}
.logo{
	padding: 25px 0 0 10px;
	}

.header_r{
	width: 300px;
	padding: 10px 10px 0 0;
	}

.search{
	width: 150px;
	}

.search_inp {
	width: 135px;
	}

.search_inp input {
	width: 85px;
	}

.nav_top{
	padding: 0;
	}

.nav_top > ul > li > a{
	width: 125px;
	padding: 0 0 0 25px;
	}

.slider{
	height: 330px;
	position: relative;
	}

.cycle-slideshow{
	width: 760px;
	height: 262px;
	}

.slide{
	width: 760px;
	height: 262px;
	}

.slide img{
	width: 760px;
	height: 262px;
	}

#slider_prev{
	top: 112px;
	}

#slider_next{
	top: 112px;
	}

.slider_nav_text{
	padding: 14px 0 0 0;
	}

.slider_nav_text a{
	width: 177px;
	padding: 8px 0px 7px 5px;
	margin: 0 0 0 5px;
	}

.slider_nav_text a span{
	margin: 0 5px 0 0;
	}


.top_cats{
	padding: 11px 0 5px 0;
	}

.top_cats_list{
	margin: 0 56px 20px 56px;
	}


.sb_nav_home{
	padding: 0 0 20px 10px;
	}

.home_opisan{
	float: none;
	width: auto;
	height: auto;
	margin: 0 10px 10px 240px;
	border-bottom: 3px solid #d4d3d3;
	}

.home_vid{
	float: none;
	width: auto;
	height: auto;
	margin: 0 10px 10px 240px;
	}

.preimush_list{
	width: 185px;
	margin: 0 0 0 4px;
	line-height: 18px;
	}

.preimush_list_icon{
	padding: 0 0 0 67px;
	}

.preimush_list_t{
	height: 25px;
	}

.preimush_list_e{
	padding: 0 5px;
	}


#posts {
	float: none;
	width: auto;
	padding: 0;
	}

.breadc{
	padding: 0 10px 10px 10px;
	}

.post_list_r{
	width: 566px;
	}

.nash_ob_l{
	width: 360px;
	padding: 10px 0 0 10px;
	}

.nash_ob_r{
	width: 360px;
	padding: 10px 10px 0 0;
	}

.nash_ob_te{
	width: 245px;
	}

#sidebar{
	float: none;
	width: auto;
	padding: 0 10px;
	}

.brends{
	padding: 20px 10px;
	}

.brends img{
	margin: 5px 30px;
	}

footer {
	height: auto;
	padding: 20px 0;
	background: #32485b url('images/footer.jpg') no-repeat -40px -10px;
	}

.nav_bot ul li{
	padding: 0 0 0 42px;
	}

.f_cont{
	padding: 10px 0 0 42px;
	line-height: 18px;
	}

.f_telmail{
	float: right;
	padding: 10px 42px 0 0;
	}

.footer_r{
	padding: 10px 0 0 0;
	clear: both;
	text-align: center;
	}

.stat{
	float: right;
	padding: 0 42px 0 0;
	}

.copy{
	float: left;
	padding: 0 0 0 42px;
	line-height: 31px;
	}
